[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
rpyc = "*"
zmq = "*"
jupyter = "*"
jupyter_server = "*"
ipyparallel = "*"
ipython = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3"
